@tailwind base;
@tailwind components;
@tailwind utilities;



#change{
    color: #edc768;
}
#service{
    color: #edc768;
}
#changebtn{
    background-color:#edc768;
    color: black;
}
#tableau{
    background-color: #edc768;
    color: black;
}
#tab{
    color: black;
    font-weight: bold;
}
#text{
    color: #edc765 ; 
}
#icone1:hover{
    color: #edc768;
}
#icone2:hover{
    color: #edc768;
}
#link{
   
    text-decoration: none;
}
.conseil{
    color: #edc768;
}
#essoualeh{
    border-radius: 3%;
}
.titre14{
    color: #edc768;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#navitem:hover{
    color: #edc768;
}

.imgs {
    width: 100%;
    height: auto;
    border-radius: 3%;
    margin-top: 1rem;
    background-color: #000; /* Couleur de fond pour la vidéo */
  }
  
  @media only screen and (min-width: 768px) {
    .imgs {
      width: 400px;
      margin-top: 0;
    }
  }
  