@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    scroll-behavior: smooth;
}
#change{
    color: #edc768;
}
#service{
    color: #edc768;
}
#changebtn{
    background-color:#edc768;
    color: black;
}
#tableau{
    background-color: #edc768;
    color: black;
}
#tab{
    color: black;
    font-weight: bold;
}
#text{
    color: #edc765 ; 
}
#icone1:hover{
    color: #edc768;
}
#icone2:hover{
    color: #edc768;
}
#link{
   
    text-decoration: none;
}

.conseil{
    color: #edc768;
}
#essoualeh{
    border-radius: 3%;
}
.titre14{
    color: #edc768;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
#navitem:hover{
    color: #edc768;
}

.imgs {
    width: 100%;
    height: auto;
    border-radius: 3%;
    margin-top: 1rem;
    background-color: #000; /* Couleur de fond pour la vidéo */
  }
  
  @media only screen and (min-width: 768px) {
    .imgs {
      width: 400px;
      margin-top: 0;
    }
  }
  
/* Ajoutez ce style à votre feuille de style CSS */
.custom-date-input {
    /* Ajoutez ici vos styles personnalisés pour l'input date */
    /* Par exemple, pour changer la couleur du texte et du fond : */
    color: #333;
    background-color: #fff;
    /* Ajoutez d'autres styles selon vos besoins */
  }
  

/* Ajoutez ce style à votre feuille de style CSS */
.custom-textarea {
    /* Ajoutez ici vos styles personnalisés pour la zone de texte */
    /* Par exemple, pour changer la couleur du texte et du fond, et ajuster la bordure : */
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    /* Ajoutez d'autres styles selon vos besoins */
  }
  